@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-nuevo-proyecto {
	display: flex;
	justify-content: center;

	.agregar-proyecto {
		@include m.boton(v.$cyan, v.$blanco);
	}
}

.listado-proyectos-api {
	list-style: none;
	padding: 0;
	margin-top: 3rem;

	.no-proyectos {
		text-align: center;
	}
}

.proyecto-api {
	padding: 0.5rem 2rem;
	border-bottom: 2px solid darken(v.$gris, 5%);
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:last-of-type {
		border: none;
	}

	p {
		font-size: 1.6rem;
		&:hover {
			cursor: pointer;
		}
	}
	.opciones {
		display: flex;
		gap: 1rem;
		button {
			border: none;
			font-size: 1.4rem;
			padding: 0.6rem 1rem;
			text-transform: uppercase;
			font-weight: 700;
			border-radius: 1rem;
			color: v.$blanco;
			transition: background-color 0.3s ease, transform 0.3s ease;

			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
		}

		.editar-proyecto {
			background-color: v.$naranja;
			&:hover {
				background-color: darken(v.$naranja, 10%);
			}
		}

		.eliminar-proyecto {
			background-color: v.$rojo;
			&:hover {
				background-color: darken(v.$rojo, 10%);
			}
		}
	}
}
